:root {
  --primary-white-color: #ffffff;
  --primary-title-colot: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --alternative-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --bottom-link-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

li {
  list-style: none;
}

/* Site Header */

header > .logo {
  color: var(--primary-title-colot);
}

.logo > span {
  color: var(--accent-color);
}

.nav-list .link {
  color: var(--primary-title-colot);
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

.contact-list .link {
  color: var(--primary-text-color);
}

.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--hero-bg-color);
}

.hero-title {
  color: var(--primary-white-color);
}

.hero .button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Преимущества компании */

.section .title {
  color: var(--primary-title-colot);
}

.hidden {
  display: none;
}

.subtitle {
    color: var(--primary-title-colot);
}

/* Команда */

.section.team {
    background-color: var(--alternative-bg-color);
}

.name {
  color: var(--primary-title-colot);
}


.profession {
  color: var(--primary-title-colot));
}

/* Footer */

footer {
    background-color: var(--hero-bg-color);
    color: var(--primary-white-color);
}

footer > .logo {
    color: var(--primary-white-color);
}

.logo > span {
    color: var(--accent-color);
}

.address-list .link {
    color: var(--bottom-link-color);
}

.address-list .link:hover,
.address-list .link:focus {
    color: var(--accent-color);
}

/* Portfolio */

.filter-list .button {
    background-color: var(--alternative-bg-color);
    color: var(--primary-title-colot);
}

.filter-list .button:hover,
.filter-list .button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.project-list .type  {
    color: var(--primary-text-color);
}